[tool.poetry]

name = "social-auth-mitxpro"
version = "0.5"
description = "python-social-auth backend for mitxpro"

license = "MIT"

readme = "README.md"

homepage = "https://pypi.org/project/social-auth-mitxpro"
repository = "https://github.com/mitodl/social-auth-mitxpro/"

authors = [
  "MIT Office of Open Learning <mitx-devops@mit.edu>"
]

keywords = [
]
classifiers = [
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9"
]

[tool.poetry.dependencies]

python = "~3.8 || ~3.9"
social-auth-core = "^4.1.0"
attrs = "19.3.0"

[tool.poetry.dev-dependencies]

# Formatters
black = { version = "=18.9b0", python = "~3.8" }
isort = "=4.3.4"

# Linters
pylint = { version = "^2.0", python = "~3.8" }

# Testing
pytest = "~4.4.0"
pytest-cov = "*"
pytest-mock = "1.10.1"
responses = "0.10.5"
typing = { version = "^3.6.6", python = "~3.8" }
codecov = "*"

[build-system]

requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
